*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

:root{
    --1:#1537A2;
    --2:#2D394B;
    --3:#FFD234;
    --4:#FFFFFF;
    --5:#DBB017;
    --6:#1D4DDC;
    --7:#1748C8;
    --8:#202020;
    --9:#5F82E8;
    --10:#434343;
}



/* FONTS */

/* body{
    background: linear-gradient(180deg, rgb(114, 112, 112), rgb(49, 49, 49)) no-repeat;
} */

body{
    background:var(--8) ;
}

/* BOTON GO-UP */

.go-up{
	background:#9d95eb;
	bottom:0px;
	display: flex;
	width:40px;
	height: 40px;
	position: fixed;
	right:8px;
    bottom: 260px;
    border: 1px solid brown;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 12px rgb(112, 112, 112);
    font-size: 15px;
    color: #5cc52c;
}

.go-up:hover{
    color: rgb(208, 255, 1);
    transform: scale(1.1,1.1);
    transition:all .5s ease-in-out;
}


/* CONTAINER */

.container{
    margin: 0 auto;
    background: var(--1);
    width:90%;
}

/* NAV */

.nav{
    background: var(--2) ;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.logo{
    width: 100px;
    margin: 7px 30px;


}
.nav ul{
    margin-right: 35px;
    padding-right: 30px;
    list-style-type: none;
    display: flex;
}
.nav ul a{
    margin: 0 10px;
    text-decoration: none;
    color: #3982BA;
    padding: 0 7px;
    cursor: pointer;
}
.nav ul li a:hover{
    border-bottom: 2px solid rgb(131, 202, 16);
}


/* HOME */

.home{
    margin: 130px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-text{
    width: 50%;
    margin-right: 30px;
    margin-left: 15px;
}
.home-text h2, .about-text h2{
    padding: 10px 0;
    font-size: 30px;
    color: #FFD234;
}

.home-text h3, .about-text h3{
    color: #3982BA;
    /* margin: 10px 0; */
    font-size: 20px;
}
.home img{
    margin-right: 30px;
}
.home-text p, .about-text p{
    color: #fff;
    margin-bottom: 20px;
}

.home-text a, .button-cv{
    border: none;
    border-radius: 7px;
    background: var(--3);
    padding: 10px;
    text-decoration: none;
    font-size: 12PX;
    font-weight: 600;
}
.home-text a:hover, .button-cv:hover{
    transition: .6s;
    background: var(--5);
}


/* ABOUT */

.about{
    margin: 200px 100px;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.about-text{
    width: 50%;
    margin-left: 30px;
}

.about-icon a{
    font-size: 40px;
    padding-right: 3px;
    color: #2f88c0;
}
.about-icon a:hover{
    transform: scale(1.5);
    color: #4badeb;
    transition: all .4s ;
}
.about-icon{
    margin: 15px 0;
}



/* SERVICE */

   
.service, .resume, .portfolio{
    margin: 30px 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item .img-tec{
    width: 50px;
    margin: 15px 10px 0 0;
    /* background: #000; */
}

.img-tec-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content p{
    width: 70%;
    text-align: center;
}
.content h3 span i{
    color: #2f88c0;
    font-size: 12px;
}
.content h3{
    position: relative;
    margin-bottom: 25px;
    /* margin-top: 5px; */
}

.content span::before{
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: rgb(227, 51, 243);
    position: absolute;
    left: 25px;
    top: 50%;
}
.content span::after{
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: rgb(227, 51, 243);
    position: absolute;
    right: 25px;
    top: 50%;
}
.items-service{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding-top: 60px;
}
.item{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.item:hover{
    background: #fceffddc;
    transition: .5s;
}
.item >img{
    align-self: center;
    width: 100px;
}
.item h2{
    text-align: center;
    padding: 10px 0;
    color: #43B6FF;
}
.item p{
    text-align: center;
    padding: 10¿¿5px 10px 0 0;
    padding-right: 10px;
    color: #43B6FF;
    text-align:center;
}

/* RESUME */

.content-resume {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.cv{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.resume-single-full{
    
    border-left: 2px dotted #000;
    padding-left: 25px;
    position: relative;
}
.resume-single-full p{
padding-bottom: 60px;
}
.resume-single h2{
    padding: 15px 0;
}
.resume-single .title{
    padding-left: 25px;
    padding-bottom: 20px;
}
.resume-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    left: -34px;
    margin-top: 4.5px;
}
.resume-label {
    background: #ff4d57;
    padding: 0px 13px;
    line-height: 26px;
    letter-spacing: .75px;
    font-size: 12px;
    color: #fff;
    position: relative;
    margin-left: 10px;
    background-clip: padding-box;
    display: inline-block;
    text-transform: uppercase;
}
.resume-label::after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 9px 13px 0;
    border-color: transparent #ff4d57 transparent transparent;
}

/* PORTFOLIO */

.items-portfolio{
    height: 410px;
    display: grid;
    grid-template-columns: repeat(3,370px);
    grid-template-rows: 600px;
    gap: 40px;
    padding-top: 60px;
}
.item-p{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.item-p:hover{
    background: #fceffddc;
    transition: .5s;
}
.item-p >img{
    align-self: center;
    width: 100%;
    height: 40%;
}
.item-p h2{
    padding: 19px 0;
    color: #43B6FF;
}
.item-p p{
    padding-right: 15px;
    color: #43B6FF;
    text-align:justify;
}
.content-portfolio {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

/* CONTACT ME */

.contactme{
width: 100%;
display: flex;
padding: 50px 40px;
flex-direction: column;
justify-content: space-evenly;
/* align-items: center; */
}
.fa-user-check{
    color: #5cc52c;
}
.location, .social{
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.centrar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.centrar div{
    padding: 20px;
}
.centrar h5{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}
.icon{
    align-self: center;
    font-size: 40px;
    font-weight: lighter;
    color: #ff4d57;
    opacity: .3;
}


.add-bx img{
    width: 20px;
}
.add-bx{
    display: flex;
}
.social-links{
    margin-top: 30px;
}

.soc-icon{
    margin-top: 60px;
    margin: 40px;
    font-size: 55px;
}


/* FOOTER */

.footer{
    width: 100%;
    height: 100px;
    border-top: 1px groove;
    /* background:linear-gradient(180deg, rgb(207, 206, 206), rgb(131, 131, 131) ); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgb(119, 119, 119);
}
.footer strong{
    color: #000;
}
































