*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

:root{
    --1:#1537A2;
    --2:#2D394B;
    --3:#FFD234;
    --4:#FFFFFF;
    --5:#DBB017;
    --6:#1D4DDC;
    --7:#1748C8;
    --8:#202020;
    --9:#5F82E8;
    --10:#434343;
}



/* FONTS */

/* body{
    background: linear-gradient(180deg, rgb(114, 112, 112), rgb(49, 49, 49)) no-repeat;
} */

body{
    background:var(--8) ;
}

.divisor{
    width: 100%;
    height: 3px;
    box-shadow: 5px 5px 10px rgb(0, 9, 32);
}

/* BOTON GO-UP */

.go-up{
	background:#000000;
	bottom:0px;
	display: flex;
	width:40px;
	height: 40px;
	position: fixed;
	right:8px;
    bottom: 260px;
    border: 1px solid tomato;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 18px rgb(112, 112, 112);
    font-size: 17px;
    color: #FFD234;
}

.go-up:hover{
    color: rgb(208, 255, 1);
    transform: scale(1.1,1.1);
    transition:all .5s ease-in-out;
}


/* CONTAINER */

.container{
    margin: 0 auto;
    background: var(--1);
    width:90%;
}

/* NAV */

.nav{
    background: var(--2) ;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.logo{
    width: 100px;
    margin: 7px 30px;


}
.nav ul{
    margin-right: 35px;
    padding-right: 30px;
    list-style-type: none;
    display: flex;
}
.nav ul a{
    margin: 0 10px;
    text-decoration: none;
    color: #3982BA;
    padding: 0 7px;
    cursor: pointer;
}
.nav ul li a:hover{
    border-bottom: 2px solid rgb(131, 202, 16);
    color: #FFD234;
}


/* HOME */

.home{
    margin: 140px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
.home-text{
    width: 50%;
    margin-right: 30px;
    margin-left: 15px;
}
.home-text h2, .about-text h2{
    padding: 10px 0;
    font-size: 30px;
    color: #FFD234;
}

.home-text h3, .about-text h3{
    color: #3982BA;
    /* margin: 10px 0; */
    font-size: 20px;
}
.home img, .about img{
    width: 30%;
    /* margin-right: 30px; */
    /* opacity: .7; */
}
.home-text p, .about-text p{
    color: #fff;
    margin-bottom: 20px;
}

.home-text a, .button-cv{
    border: none;
    border-radius: 7px;
    background: var(--3);
    padding: 10px;
    text-decoration: none;
    font-size: 12PX;
    font-weight: 600;
}
.home-text a:hover, .button-cv:hover{
    transition: .6s;
    background: var(--5);
}


/* ABOUT */

.about{
    margin: 200px 100px;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.about-text{
    width: 50%;
    margin-left: 30px;
}

.about-icon a{
    font-size: 40px;
    padding-right: 3px;
    color: #2f88c0;
    transition:all .9s ease-in-out;
}
.about-icon a:hover{
    color: #8dc9ee;
    transition: all .3s ease-in;

}
.about-icon{
    margin: 15px 0;
}


/* SERVICE */


.service, .resume, .portfolio{
    /* margin: 30px 100px; */
    padding-top: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}
.content-title{
    color: #FFD234;
}
.content{
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item .img-tec{
    width: 40px;
    margin: 10px;
    /* margin: 15px 40px 0 0; */
}
.img-tec-cont{
    padding-top: 30px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.content p{
    color: #fff;
    width: 70%;
    text-align: center;
}
.content h3 span i{
    color: #2f88c0;
    font-size: 12px;
}
.content h3{
    position: relative;
    margin-bottom: 25px;
}

.content span::before{
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: rgb(227, 51, 243);
    position: absolute;
    left: 25px;
    top: 50%;
}
.content span::after{
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: rgb(227, 51, 243);
    position: absolute;
    right: 25px;
    top: 50%;
}
.items-service{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 60px 50px;
    
}
.item{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.item img{
    align-self: center;
}
.img-itm{
    width: 60%;
    /* height: 200px; */
    margin-bottom: 30px;
}
.item h2{
    text-align: center;
    padding: 10px 0;
    color: #FFD234;
}
.item p{
    text-align: center;
    padding: 10¿¿5px 10px 0 0;
    padding-right: 10px;
    color: #fff;
    text-align:center;
}
.fa-ellipsis{
    color: #5cc52c;
}


/* PORTFOLIO */

.portfolio{
    margin-top: 150px;
    padding: 0 50px ;
}
.items-portfolio{
    /* height: 410px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 600px; */
    gap: 40px;
    padding: 60px 0;
}
.item-p{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.item-p >img{
    align-self: center;
    width: 100%;
    height: 70%;
}
.item-p h2{
    padding: 19px 0;
    color: #FFD234;
}
.item-p p{
    padding-right: 15px;
    text-align:justify;
    color: #fff;
}


/* CONTACT ME */

.contactme{
margin-top: 120px;
width: 100%;
display: flex;
padding: 50px 40px;
flex-direction: column;
justify-content: space-evenly;
/* align-items: center; */
}
.fa-user-check{
    color: #5cc52c;
}
.location, .social{
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.centrar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.centrar div{
    padding: 20px;
}
.centrar h5{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}
.centrar h5 p{
    color: #fff;
    padding-left: 20px;
}
.icon{
    align-self: center;
    font-size: 40px;
    font-weight: lighter;
    color:deeppink;

}
.pad{
    padding-left: 20px;
}
.add-bx img{
    width: 30px;
}
.address{
font-size: 25px;
color: #5cc52c;
}
.add-bx{
    display: flex;
    justify-content: center;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.soc-icon{
    margin-top: 60px;
    margin: 40px;
    font-size: 55px;
    color: #4badeb;
    transition: all .8s ease-in-out;

}
.soc-icon:hover{
    color: #DBB017;
    transition: all .2s ease-in;


}


/* FOOTER */

.footer{
    width: 100%;
    height: 100px;
    border-top: 1px groove;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #fff;
    background: #1748C8;
}
.footer p span{
    color: black;
}
.footer strong{
    color:#FFD234;
}

@media screen and (max-width:960px) {
    .container{
        width: 100%;
    }
}


@media screen and (max-width:1100px) {
    .home, .about{
        /* margin: 140px 100px; */
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        
        /* justify-content: space-evenly; */
        /* align-items: ; */
        /* align-content: space-around; */
        /* padding: 30px; */
    }
    .home-text{
        width: 100%;
        margin: 20px 0 10px;
        text-align: center;

    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-text{
        margin: 0;
        width: 90%;
        text-align: center;
    }
    .home img, .about img{
        width: 30%;
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgb(0, 0, 0);
        margin-bottom: 20px;
        /* margin-right: 30px; */
        /* opacity: .7; */
    }
    .about img{
        margin-top: 30px;
        margin-left: 25px ;
    }
    .items-service{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 60px 50px;
    }
    .content p{
        width: 90%;
    }
    .items-portfolio{
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 40px;
        /* padding-top: 60px; */
    }
    .item-p {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        text-align: center;
    }
    .item-p p {
        padding-right: 15px;
        text-align: center;
        color: #fff;
    }
    .portfolio{
        margin: 15px 0;
    }
    .go-up{
        z-index: 1;
        right:42px;
        bottom: 114px;
    }
    .item, .item-p{
        padding-bottom: 10px;
        border-bottom: 1px solid #FFD234;
    }
    .contactme{
        margin: 0;
    }
}


@media screen and (max-width:690px) {
    .container{
        width: 100%;
    }
    .home img, .about img{
        min-width: 180px;
    }
    .item{
        width: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* text-align: center; */
        border: none;
    }
    .item p{
        align-items: center;
        width: 90%;
        padding: 0;
    }
    .items-service{
        padding: 0;
    }
    .item-p p {
        padding-right: 0;
    }
    .content-title{
        text-align: center;
    }
    .portfolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .socbox h5{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    .socbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .map{
    }
    .centrar{
        display: flex;
        justify-content: center;
    }

    .map iframe{
        width: 100%;
        height: 250px;
    }

    .add-bx img {
        padding-left: 5px;
        width: 30px;
        height: 30px;
    }
}

























