*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* FONTS */

/* body{
    background: linear-gradient(180deg, rgb(114, 112, 112), rgb(49, 49, 49)) no-repeat;
} */

/* CONTAINER */

.container{
    margin: 0 auto;
    /* background: lightcyan; */
    width:90%;
}

/* NAV */

.nav{
    background: #000;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    margin: 7px 30px;


}
.nav ul{
    margin-right: 35px;
    list-style-type: none;
    display: flex;
}
.nav ul a{
    margin: 0 10px;
    text-decoration: none;
    color: azure;
    padding: 0 7px;
    cursor: pointer;
}

.nav ul li a:hover{
    border-bottom: 2px solid rgb(131, 202, 16);
}

/* HOME */

.home{
    margin: 80px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-text{
    width: 50%;
    margin-right: 30px;
    margin-left: 15px;
}
.home-text h2{
    font-size: 30px;
}
.home-text h3{
    margin: 10px 0;
    font-size: 20px;
}
.home img{
    margin-right: 30px;
}


/* ABOUT */

.about{
    margin: 80px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.about-text{
    width: 50%;
    margin-left: 30px;
}
.about-text h2{
    font-size: 30px;
}
.about-text h3{
    margin: 10px 0;
    font-size: 20px;
}
.about-text p{
    margin: 10px 0 20px 0;
}
.about-icon a i{
    font-size: 40px;
    padding-right: 3px;
    color: #43B6FF;
}
.about-icon a i:hover{
    transform: scale(1.1);
    color: #2f88c0;
    transition: all .4s ;
}
.about-icon{
    margin: 15px 0;
}
.about-text button{
    background: rgb(143, 78, 228);
    color: #43B6FF;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 15px;
}
.about-text button:hover{
    opacity: .8;
    color: rgb(37, 196, 37);
}

/* SERVICE */

   
.service, .resume{
    margin: 80px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-service, .content-resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-service p, .content-resume p{
width: 70%;
text-align: center;
}
.content-service h3 span i, .content-resume h3 span i{
    color: #2f88c0;
    font-size: 12px;
}
.content-service h3, .content-resume h3{
    position: relative;
    margin-bottom: 25px;
    margin-top: 15px;
}
.content-service span::before, .content-resume span::before{
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: rgb(227, 51, 243);
    position: absolute;
    left: 20px;
    top: 50%;
}
.content-service span::after, .content-resume span::after{
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: rgb(227, 51, 243);
    position: absolute;
    right: 20px;
    top: 50%;
}
.items-service{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding-top: 60px;
}
.item{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.item:hover{
    background: #fceffddc;
    transition: .5s;
}
.item >img{
    align-self: center;
    width: 100px;
}
.item h2{
    padding: 10px 0;
    color: #43B6FF;
}
.item p{
    padding-right: 10px;
    color: #43B6FF;
    text-align:justify;
}

/* RESUME */

.resume{
display: flex;
flex-direction: column;
}

.cv{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.resume-single-full{
    
    border-left: 2px dotted #000;
    padding-left: 25px;
    position: relative;
}
.resume-single-full p{
padding-bottom: 60px;
}
.resume-single h2{
    padding: 15px 0;
}
.resume-single .title{
    padding-left: 25px;
    padding-bottom: 20px;
}
.resume-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    left: -9px;
    margin-top: 4.5px;
}
.resume-label {
    background: #ff4d57;
    padding: 0px 13px;
    line-height: 26px;
    letter-spacing: .75px;
    font-size: 12px;
    color: #fff;
    position: relative;
    margin-left: 10px;
    background-clip: padding-box;
    display: inline-block;
    text-transform: uppercase;
}
.resume-label::after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 9px 13px 0;
    border-color: transparent #ff4d57 transparent transparent;
}



/* 
.portfolio{
   
}
.latestnews{
   
}
.contactme{
    
}
.footer{
    
} */
































